<footer>
  <p>Copyright 2024. All rights reserved.</p>
</footer>

<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: #248232;
    color: #fff;
    text-align: center;
  }
</style>
