<header>
  <h1><a href="/">ASTRO LABDAY</a></h1>
  <menu>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Blogs</a></li>
  </menu>
</header>

<style>
  header {
    padding: 2rem 1rem;
    background-color: #b01515;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    menu {
      display: flex;
      gap: 2rem;
      li {
        list-style: none;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      padding: 1rem;
      h1 {
        margin-bottom: 0.75rem;
      }
    }
  }
</style>
