---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
    excepturi natus corrupti animi eius aliquam temporibus, nihil eaque quidem
    ad quasi cumque fuga deserunt earum nobis accusamus sunt dignissimos nostrum
    aperiam repudiandae eum facere debitis veniam ea. Omnis reiciendis ipsam
    consequatur ex, nobis quis ut, ea ad a, labore libero. Excepturi at nulla
    animi magnam ratione fuga atque eaque mollitia dolore et, recusandae tempore
    repellat quo necessitatibus facilis, quibusdam libero hic deserunt,
    distinctio aliquam. Voluptas modi explicabo fugiat minus tempore corrupti
    veritatis placeat saepe iure, ad et perferendis, ex laboriosam laborum
    maxime eos repellendus sequi, mollitia repellat atque neque. Velit?
  </p>
</Layout>
