---
import Layout from "../layouts/Layout.astro";

const title = "Home";
const desc = "Astro Labday page";
---

<Layout pageTitle={title} pageDesc={desc}>
  <h2>Astro is AWESOME!</h2>
  <h3>MERRY CHRISTMAS! and HAPPY NEW YEAR</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptate
    ex aspernatur vel sunt totam, maiores quod blanditiis veritatis inventore,
    pariatur rem. Quasi itaque ratione iusto nostrum eligendi perferendis
    aspernatur facilis recusandae, architecto, iste dolores quia possimus vero
    ab animi provident sunt blanditiis repudiandae sit dolore dolorum, nulla hic
    unde!
  </p>
</Layout>

<style>
  h2 {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 50px;
  }
  p {
    margin-top: 2rem;
  }
</style>

<script>
  import { gsap } from "gsap";

  const h3Timeline = gsap.timeline({
    repeat: 3,
  });

  gsap.from("h3", { duration: 1, x: "-100vw" });
  h3Timeline
    .to("h3", { color: "#b01515", duration: 0.5 })
    .to("h3", { color: "#248232", duration: 0.5 })
    .to("h3", { color: "#ffcf33", duration: 0.5 });
  // gsap.to("h3", { duration: 0.5, color: "#191919" });
</script>
