---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>Astro is AWESOME!</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci voluptate
    ex aspernatur vel sunt totam, maiores quod blanditiis veritatis inventore,
    pariatur rem. Quasi itaque ratione iusto nostrum eligendi perferendis
    aspernatur facilis recusandae, architecto, iste dolores quia possimus vero
    ab animi provident sunt blanditiis repudiandae sit dolore dolorum, nulla hic
    unde!
  </p>
</Layout>
